---
import PlusIcon from '~astro-icons/lucide/plus';
// import MysqlLogo from '../../../icons/logos/mysql-logo.svelte';
// import PlanetScaleLogo from '../../../icons/logos/planetscale-logo.svelte';
import WebhookIcon from '~astro-icons/lucide/webhook';

// import AwsLogo from '../../../icons/logos/aws-logo.svelte';
import CloudflareLogo from '../../../icons/logos/cloudflare-logo.svelte';
// import DigitalOceanLogo from '../../../icons/logos/digital-ocean-logo.svelte';
// import GoogleLogo from '../../../icons/logos/google-logo.svelte';
import MuxLogo from '../../../icons/logos/mux-logo.svelte';
import PostgresLogo from '../../../icons/logos/postgres-logo.svelte';
import SupabaseLogo from '../../../icons/logos/supabase-logo.svelte';
import VercelLogo from '../../../icons/logos/vercel-logo.svelte';
import Spin from '../../style/spin.svelte';

const duration = 1000,
  delay = 1500,
  spins = 1000,
  initialDelay = 4000,
  spinClass =
    'border border-inverse w-24 h-24 1200:w-28 1200:h-28  p-4 rounded-sm shadow-md shrink-0',
  separatorClass = 'flex-1 border-b border-border border-dashed h-1 mb-12 shrink',
  plusIconClass = 'w-5 h-5 420:w-6 420:h-6 rounded-full bg-inverse border-border border-2 mb-12',
  titleClass = 'font-semibold text-sm mt-4 text-center w-full',
  subtitleClass =
    'font-medium text-soft text-xs text-center w-full mt-0.5 min-w-full whitespace-nowrap min-w-[15ch]';
---

<div class="w-full flex flex-col">
  <div class="w-full flex items-center justify-center max-w-lg mx-auto">
    <div class="flex flex-col flex-1 shrink-0">
      <Spin class={spinClass} {duration} {initialDelay} {delay} {spins} client:visible>
        <Fragment slot="boxes">
          <!-- <AwsLogo data-title="AWS S3" /> -->
          <div class="flex items-center justify-center" data-title="Supabase Storage">
            <SupabaseLogo class="w-[80%] h-[80%]" />
          </div>
          <!-- <DigitalOceanLogo data-title="Digital Ocean" /> -->
          <!-- <GoogleLogo data-title="Google Storage" /> -->
          <div class="flex items-center justify-center" data-title="Vercel Blob">
            <VercelLogo class="w-[80%] h-[80%]" />
          </div>
        </Fragment>

        <div class={titleClass}>Storage</div>
        <div class={subtitleClass} data-part="title">Vercel Blob</div>
      </Spin>
    </div>

    <div class={separatorClass}></div>

    <div class={plusIconClass}>
      <PlusIcon class="w-full h-full" />
    </div>

    <div class={separatorClass}></div>

    <div class="flex flex-col flex-1 shrink-0">
      <Spin class={spinClass} {duration} {initialDelay} {delay} {spins} client:visible>
        <Fragment slot="boxes">
          <!-- <AwsLogo data-title="AWS Media" /> -->
          <CloudflareLogo data-title="Cloudflare Stream" />
          <MuxLogo data-title="Mux" />
        </Fragment>

        <div class={titleClass}>Streaming</div>
        <div class={subtitleClass} data-part="title">Mux</div>
      </Spin>
    </div>

    <div class={separatorClass}></div>

    <div class={plusIconClass}>
      <PlusIcon class="w-full h-full" />
    </div>

    <div class={separatorClass}></div>

    <div class="flex flex-col flex-1 shrink-0">
      <Spin class={spinClass} {duration} {initialDelay} {delay} {spins} client:visible>
        <Fragment slot="boxes">
          <!-- <PlanetScaleLogo data-title="PlanetScale" /> -->
          <PostgresLogo data-title="Postgres" />
          <div class="flex items-center justify-center" data-title="Supabase DB">
            <SupabaseLogo class="w-[80%] h-[80%]" />
          </div>
          <div class="flex items-center justify-center" data-title="Webhook">
            <WebhookIcon class="w-[80%] h-[80%]" />
          </div>
          <!-- <MysqlLogo data-title="MySQL" /> -->
          <div class="flex items-center justify-center" data-title="Vercel Postgres">
            <VercelLogo class="w-[80%] h-[80%]" />
          </div>
        </Fragment>

        <div class={titleClass}>Analytics</div>
        <div class={subtitleClass} data-part="title">Vercel Postgres</div>
      </Spin>
    </div>
  </div>

  <div class="flex mt-12 items-center justify-center text-soft/80 flex-wrap">
    <div class="flex items-center shrink-0 space-x-3 mt-4">
      <VercelLogo class="w-5 shrink-0" />
      <!-- <AwsLogo class="w-7 shrink-0" /> -->
      <!-- <DigitalOceanLogo class="w-7 shrink-0" /> -->
      <SupabaseLogo class="w-5 shrink-0" />
      <!-- <GoogleLogo class="w-6 shrink-0" /> -->
    </div>
    <div class="w-1 shrink-0 h-1 bg-soft/80 mx-5 rounded-full mt-4"></div>
    <div class="flex items-center space-x-3 mt-4">
      <MuxLogo class="w-9 shrink-0" />
      <CloudflareLogo class="w-6 shrink-0" />
    </div>
    <div class="w-1 shrink-0 h-1 bg-soft/80 mx-5 rounded-full mt-4"></div>
    <div class="flex items-center shrink-0 space-x-3 mt-4">
      <VercelLogo class="w-5 shrink-0" />
      <SupabaseLogo class="w-5 shrink-0" />
      <WebhookIcon class="w-5 h-[80%]" />
      <PostgresLogo class="w-6 shrink-0" />
    </div>
  </div>
</div>
