---
import clsx from 'clsx';

import CopyIcon from '~astro-icons/lucide/copy';
import LinkIcon from '~astro-icons/lucide/link';
import MoreHorizontalIcon from '~astro-icons/lucide/more-horizontal';
import TrashIcon from '~astro-icons/lucide/trash-2';

import Menu from '../../menu.svelte';
import { mockVideos } from './mock-encode';
import MockProgressBadge from './mock-progress-badge.svelte';
import MockUploadPopper from './mock-upload-popper.svelte';
import MockVideoThumbnail from './mock-video-thumbnail.astro';

const videoMenuItems = [
  { title: 'Copy Asset ID', Icon: CopyIcon },
  { title: 'Copy Embed Link', Icon: CopyIcon },
  { title: 'Create Watch Link', Icon: LinkIcon },
  { title: 'Archive Video', Icon: TrashIcon, danger: true },
];
---

<div
  class="relative grid grid-cols-1 @md:grid-cols-2 @xl:grid-cols-3 gap-5 pl-2 pr-4 pb-2 mt-6 overflow-y-auto h-[408px] scrollbar"
>
  {
    mockVideos.map(({ title, duration, tags }, index) => {
      return (
        <div id={`mock-video-${index}`} class="flex flex-col group">
          <MockVideoThumbnail {index} {duration} />

          <div class="flex items-center">
            <span class="font-medium text-xs mt-2">{title}</span>

            <div class="flex-1" />

            <Menu
              class={clsx(
                'hocus:text-brand cursor-pointer relative py-1.5 rounded-sm',
                'transition-transform hocus:scale-110 min-w-[16px] min-h-[16px]',
              )}
              offset={-2}
              placement="bottom-end"
              aria-label="Video Options"
              client:visible
            >
              <MoreHorizontalIcon slot="trigger" />
              <Fragment slot="content">
                <div class="flex flex-col min-w-[80px]">
                  <div class="flex flex-col space-y-2.5">
                    {videoMenuItems.map(({ title, Icon, danger }) => (
                      <div
                        class={clsx(
                          'w-full text-[10px] font-normal flex items-center',
                          danger ? 'text-red-500 dark:text-red-400' : 'text-soft',
                        )}
                      >
                        <Icon class="w-3 h-3 mr-1.5" />
                        {title}
                      </div>
                    ))}
                  </div>
                </div>
              </Fragment>
            </Menu>
          </div>
          <div class="flex items-center flex-wrap mt-1" style="row-gap: 4px; column-gap: 6px;">
            {tags.map((tag, i) => (
              <div class="text-[10px] text-soft inline-block rounded-sm bg-inverse/10 px-1 py-px">
                {tag}
              </div>
            ))}
            <MockProgressBadge index={index} client:visible />
          </div>
        </div>
      );
    })
  }

  <MockUploadPopper client:visible />
</div>
