---
import { Code } from 'astro:components';

import CodeBlockWrapper from '../../../components/code-snippet/code-block-wrapper.svelte';
import Heading from '../../../components/docs/heading.svelte';
import Table from '../../../components/table.astro';
import { findMDNLink, findReactComponents, getLinks } from './api-utils';
import NameCell from './name-table-cell.astro';
import Header from './react-api-header.astro';
import TypeCell from './type-table-cell.astro';

const { pathname } = Astro.url,
  components = findReactComponents(pathname),
  tableHeadingLevel = components.length === 1 ? 3 : 4;
---

{
  components.length ? (
    <>
      <Heading title="API Reference" level={2} />

      {components.map((component) => {
        const hasValues = component.props?.length || component.callbacks?.length;
        if (!hasValues) return null;

        let propsType = component.propsType ? `, type ${component.propsType}` : '',
          importCode = '',
          refType = component.ref?.type.concise,
          hasInstance = refType === component.instance?.name,
          fullComponentName = component.namespace
            ? `${component.namespace}.${component.name}`
            : component.name,
          instanceName =
            hasInstance && component.instance ? `${component.instance.name}Instance` : refType;

        if (component.namespace) {
          importCode = [
            `import { ${component.namespace} } from "@vidstack/react";`,
            '',
            `type Props = ${component.namespace}.${component.propsType};`,
            '',
            `const Component = ${component.namespace}.${component.name};`,
          ].join('\n');
        } else {
          importCode = `import { ${component.name}${propsType} } from "@vidstack/react";`;
        }

        const props = (component.props || [])
          .filter((prop) => !prop.internal)
          .map((prop) => [
            <NameCell name={prop.name} docs={prop.docs} mdnLink={findMDNLink(getLinks(prop))} />,
            <TypeCell
              concise={prop.type.concise.includes(' ') ? prop.type.primitive : prop.type.concise}
              full={prop.type.full}
            />,
            <code>{prop.default ?? 'undefined'}</code>,
          ]);

        const state = ((hasInstance && component?.instance?.state) || []).map((prop) => [
          <NameCell name={prop.name} docs={prop.docs} mdnLink={findMDNLink(getLinks(prop))} />,
          <TypeCell concise={prop.type.primitive} full={prop.type.full} />,
          <code>{prop.default ?? 'undefined'}</code>,
        ]);

        const stateUsageCode = state.length
          ? [
              `import { ${
                component.namespace ?? component.name
              }, ${instanceName} } from "@vidstack/react"`,
              '',
              `const ref = useRef<${instanceName}>(null),`,
              `  { /* state props */ } = useStore(${instanceName}, ref);`,
              '',
              `<${fullComponentName} ref={ref}>`,
            ].join('\n')
          : '';

        const callbacks = (component.callbacks || [])
          .filter((cb) => !cb.internal)
          .map((cb) => [
            <NameCell name={cb.name} docs={cb.docs} mdnLink={findMDNLink(getLinks(cb))} />,
            <TypeCell concise="function" full={cb.type.full} />,
          ]);

        const instanceProps = ((hasInstance && component.instance?.members?.props) || [])
          .filter((prop) => !prop.internal && !component.props?.some((p) => p.name === prop.name))
          .map((prop) => [
            <NameCell
              name={prop.name}
              docs={prop.docs}
              badges={[prop.readonly && 'readonly']}
              mdnLink={findMDNLink(getLinks(prop))}
            />,
            <TypeCell
              concise={prop.type.concise.includes(' ') ? prop.type.primitive : prop.type.concise}
              full={prop.type.full}
            />,
          ]);

        const instanceMethods = ((hasInstance && component.instance?.members?.methods) || [])
          .filter((prop) => !prop.internal)
          .map((method) => [
            <NameCell
              name={method.name}
              docs={method.docs}
              mdnLink={findMDNLink(getLinks(method))}
            />,
            <TypeCell concise="method" full={method.signature.type} />,
          ]);

        const instanceUsageCode = hasInstance
          ? [
              `import { ${
                component.namespace ?? component.name
              }, type ${instanceName} } from "@vidstack/react"`,
              '',
              `const ref = useRef<${instanceName}>(null);`,
              '',
              'useEffect(() => { /* Use props/methods here. */ }, [])',
              '',
              `<${fullComponentName} ref={ref}>`,
            ].join('\n')
          : '';

        const dataAttrs = component.instance?.doctags
          ?.filter((tag) => tag.name === 'attr' && tag.text)
          .map((tag) => tag.text!.split(/\s+-\s+/))
          .map(([name, desc]) => [<code>{name}</code>, desc]);

        return (
          <div class="mt-6">
            <Header
              title={components.length > 1 ? component.name : undefined}
              slug={fullComponentName}
              description={component.docs}
              {importCode}
              badges={[component.attributes, refType ? `Ref<${instanceName}>` : null]}
            />

            {props.length && <Table cols={['Prop', 'Type', 'Default']} rows={props} />}

            {state.length ? (
              <div>
                <Heading
                  title="State"
                  slug={`${fullComponentName}.state`}
                  level={tableHeadingLevel}
                />
                <div class="mt-6 -mb-2">
                  <CodeBlockWrapper class="text-sm font-normal not-prose">
                    <Code code={stateUsageCode} lang="tsx" theme="github-dark" />
                    <Code code={stateUsageCode} lang="tsx" theme="github-light" />
                  </CodeBlockWrapper>
                </div>
                <Table cols={['Prop', 'Type', 'Default']} rows={state} />{' '}
              </div>
            ) : null}

            {callbacks.length ? (
              <div class="mt-8">
                <Heading
                  title="Callbacks"
                  slug={`${fullComponentName}.callbacks`}
                  level={tableHeadingLevel}
                />
                <Table cols={['Callback', 'Type']} rows={callbacks} />
              </div>
            ) : null}

            {instanceProps.length || instanceMethods.length ? (
              <div>
                <Heading
                  title="Instance"
                  slug={`${fullComponentName}.instance`}
                  level={tableHeadingLevel}
                />
                <CodeBlockWrapper class="mt-6 not-prose text-sm">
                  <Code code={instanceUsageCode} lang="tsx" theme="github-dark" />
                  <Code code={instanceUsageCode} lang="tsx" theme="github-light" />
                </CodeBlockWrapper>
                <Table cols={['Prop', 'Type']} rows={[...instanceProps, ...instanceMethods]} />
              </div>
            ) : null}

            {dataAttrs?.length ? (
              <div class="mt-8">
                <Heading
                  title="Data Attributes"
                  slug={`${fullComponentName}.attrs`}
                  level={tableHeadingLevel}
                />
                <Table cols={['Name', 'Description']} rows={dataAttrs} />
              </div>
            ) : null}
          </div>
        );
      })}
    </>
  ) : null
}
