---
import clsx from 'clsx';

import { Code } from 'astro:components';

import Badge from '../../../components/badge.svelte';
import Heading from '../../../components/docs/heading.svelte';

interface Props {
  title?: string;
  slug?: string;
  description?: string;
  importCode?: string;
  badges?: Array<string | null | undefined>;
}

const { title, slug, description, importCode, badges } = Astro.props;
---

<div class="flex flex-col mb-4">
  {title ? <Heading title={title} {slug} level={3} /> : null}

  {
    badges?.filter(Boolean).length ? (
      <div class={clsx('flex space-x-2 items-center not-prose', title && 'mt-5')}>
        <Badge color="blue">
          <code class="text-xs">{badges[0]}</code>
        </Badge>
        {badges[1] && (
          <Badge color="green">
            <code class="text-xs">{badges[1]}</code>
          </Badge>
        )}
      </div>
    ) : null
  }

  {
    importCode && (
      <div
        class={clsx(
          'not-prose font-medium text-sm mb-4 overflow-auto scrollbar scrollbar-square py-1.5 mt-5',
        )}
      >
        <Code code={importCode} lang="tsx" theme="github-dark" />
        <Code code={importCode} lang="tsx" theme="github-light" />
      </div>
    )
  }

  {
    description && (
      <div class="-mt-8 -mb-6">
        <Fragment set:html={description} />
      </div>
    )
  }
</div>
